<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ozon_Frauds>
            <version>0.1</version>
        </Ozon_Frauds>
    </modules>
    <global>
	    <helpers>
	        <ozon_frauds>
	            <class>Ozon_Frauds_Helper</class>
	        </ozon_frauds>
	    </helpers>
        <blocks>
        	<ozon_frauds>
        		<class>Ozon_Frauds_Block</class>
        	</ozon_frauds>
        	<adminhtml>
                <rewrite>
                    <sales_order_grid>Ozon_Frauds_Block_Adminhtml_Order_Grid</sales_order_grid>
                </rewrite>
        	</adminhtml>
        </blocks>
	    <models>
            <ozon_frauds>
            	<class>Ozon_Frauds_Model</class>
            </ozon_frauds>
        </models>
        <events>
            <!-- sales_order_invoice_save_after -->
            <!-- checkout_cart_add_product_complete -->
            <sales_order_place_after>
                <observers>
                    <ozon_frauds_obs>
                        <type>singleton</type>
                        <class>ozon_frauds/observer</class>
                        <method>orderCheck</method>
                    </ozon_frauds_obs>
                </observers>
            </sales_order_place_after>
        </events>
        <resources>
        	<ozon_frauds_setup>
        		<setup>
        			<module>Ozon_Frauds</module>
        			<class>Mage_Sales_Model_Resource_Setup</class>
        		</setup>
                <connection>
                	<use>core_setup</use>
            	</connection>
        	</ozon_frauds_setup>
            <ozon_frauds_write>
				<connection>
					<use>core_write</use>
				</connection>
			</ozon_frauds_write>
			<ozon_frauds_read>
				<connection>
					<use>core_read</use>
				</connection>
			</ozon_frauds_read>
        </resources>
    </global>
    <frontend>
		<translate>
			<modules>
				<Ozon_Frauds>
					<files>
						<default>Ozon_Frauds.csv</default>
					</files>
				</Ozon_Frauds>
			</modules>
		</translate>
    	<routers>
			<frauds>
				<use>standard</use>
				<args>
					<module>Ozon_Frauds</module>
					<frontName>ozonfrauds</frontName>
				</args>
			</frauds>
		</routers>
    </frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<ozon_frauds before="Mage_Adminhtml">Ozon_Frauds_Adminhtml</ozon_frauds>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<!-- Magento lower than 1.4.0; otherwise see adminhtml.xml -->
    <adminhtml>
        <layout>
            <updates>
                <ozon_frauds>
                    <file>ozon_sales.xml</file>
                </ozon_frauds>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <frauds translate="title">
                                            <title>Ozon</title>
                                            <sort_order>100</sort_order>
                                        </frauds>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		<translate>
			<modules>
				<Ozon_Frauds>
					<files>
						<default>Ozon_Frauds.csv</default>
					</files>
				</Ozon_Frauds>
			</modules>
		</translate>
    </adminhtml>
</config>